</main>

<footer class="mt-auto py-4 text-center text-secondary" style="font-size: 0.9rem;">
  <div class="container border-top pt-4">
    <p class="mb-0"><%= new Date().getFullYear() %> Visor Historico de Imagenes Medicas - Realizado con ❤️ por
        Informática DSM </p>
  </div>
</footer>

<!-- Bootstrap 5 JS Bundle -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom JS -->
<script src="/js/main.js"></script>
</body>

</html>